<div class="bg-white w-[500px] h-[600px] rounded-lg p-8">
  <header class="flex flex-row justify-between items-center gap-4">
    <div class="flex flex-col">
      <h1 class="text-3xl">Today's Task</h1>
      <p>{{ date }}</p>
    </div>
    <div class="navbar flex flex-col justify-center items-center">
      <button
        class="w-36 h-11 rounded-xl bg-[#e1eafa] text-[#105bde]"
        (click)="mostrarFormulario = !mostrarFormulario"
      >
        + New Task
      </button>
      <!--div formulario asignar tarea -->
      <div *ngIf="mostrarFormulario" class="mt-4 p-4 bg-gray-100 rounded-lg">
        <input
          [(ngModel)]="nuevaTarea.title"
          placeholder="Título"
          class="w-full p-2 mb-2 border rounded"
        />
        <textarea
          [(ngModel)]="nuevaTarea.description"
          placeholder="Descripción"
          class="w-full p-2 mb-2 border rounded resize-none"
        ></textarea>
        <input
          [(ngModel)]="nuevaTarea.time"
          type="time"
          class="w-full p-2 mb-2 border rounded"
        />
        <button
          (click)="agregarTarea()"
          class="w-full bg-blue-500 text-white p-2 rounded"
        >
          Agregar
        </button>
      </div>

      <nav class="flex flex-col">
        <ul class="flex gap-5 mt-4">
          <li><button [routerLink]="['all']">All</button></li>
          <li><button [routerLink]="['closed']">Closed</button></li>
          <li><button [routerLink]="['open']">Open</button></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="w-full h-4/5 mt-4 overflow-y-auto">
    <router-outlet></router-outlet>
  </main>
</div>
