<div class="bg-white w-[600px] h-[450px] rounded-lg p-8">
  <header class="flex flex-row justify-between items-center gap-4">
    <div class="flex flex-col">
      <h1 class="text-3xl">Today's Task</h1>
      <p>{{ date }}</p>
    </div>

    <div class="navbar flex flex-col justify-center items-center">
      <button class="w-36 h-11 rounded-xl bg-[#e1eafa] text-[#105bde]">
        + New Task
      </button>
      <nav class="flex flex-col">
        <ul class="flex gap-5 mt-4">
          <li>
            <button
              class="p-2 rounded-xl hover:bg-[#e1eafa] hover:text-[#105bde]"
            >
              All
            </button>
          </li>
          <li>
            <button
              class="p-2 rounded-xl hover:bg-[#e1eafa] hover:text-[#105bde]"
            >
              Open
            </button>
          </li>
          <li>
            <button
              class="p-2 rounded-xl hover:bg-[#e1eafa] hover:text-[#105bde]"
            >
              Closed
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<!--  
   -->
